<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's Disease Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>MRI Classifier</h1>
    <div class="container">
        <div class="left-half">
            <p class="paragraph">
                Alzheimer's disease, named after the German physician Alois Alzheimer who first described it in 1906, is a progressive neurological disorder that primarily affects the brain, leading to cognitive decline and memory loss. It is the most common cause of dementia, a syndrome characterized by a decline in cognitive function severe enough to interfere with daily life and activities.

                The hallmark features of Alzheimer's disease include the accumulation of abnormal protein deposits in the brain, specifically beta-amyloid plaques and tau tangles, which disrupt communication between brain cells and eventually lead to their death. As the disease progresses, individuals may experience a range of symptoms beyond memory loss, such as difficulties with language, impaired reasoning and judgment, changes in behavior and personality, and ultimately, loss of ability to carry out basic tasks.
                
                Alzheimer's disease not only has a profound impact on the individuals diagnosed but also affects their families, caregivers, and society at large due to the substantial caregiving burden and healthcare costs associated with the condition. Despite decades of research, there is currently no cure for Alzheimer's disease, though treatments aimed at managing symptoms and slowing disease progression are available.
            </p>
        </div>
        <div class="right-half">
            <form action="/predict" method="post" enctype="multipart/form-data">
                <label for="image">
                    <input type="file" name="image" id="image" accept="image/*" onchange="previewImage(event)">
                    <img id="preview" src="#" alt="Preview">
                </label>
                <button type="submit">PREDICT</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
